/* nuevo header */

/*tipografías*/
@font-face {
	font-family: 'GothamBold';
    src: url('assets/fonts/original_Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/original_Gotham-Bold.woff') format('woff'),
         url('assets/fonts/original_Gotham-Bold.ttf') format('truetype'),
         url('assets/fonts/original_Gotham-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'GothamBook';
    src: url('assets/fonts/original_Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/original_Gotham-Book.woff') format('woff'),
         url('assets/fonts/original_Gotham-Book.ttf') format('truetype'),
         url('assets/fonts/original_Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamMedium';
    src: url('assets/fonts/original_Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/original_Gotham-Medium.woff') format('woff'),
         url('assets/fonts/original_Gotham-Medium.ttf') format('truetype'),
         url('assets/fonts/original_Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.nav--vivo{
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease;
  z-index: 10;
/* modificado 25-02 */
  .vivo--menu {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background: #eee;
/* fin-modificado 25-02 */


    .menu--privado{
      width: 20%;
      padding: 0px;
      float: left;
      button{
        width: 100%;
        height: 67px;
        padding: 0px 0px 10px 0px !important;
        margin: 0px 0px 0px 0px !important;
        background: #fff;
        border-bottom: 2px solid #ccc !important;
        border-left: none;
        border-right: none;
        border-top: none;
        color: #666;
        font-family: 'GothamMedium';
        &:focus{
          outline: none;

        }

      }
      .active{
        border-bottom: 4px solid #0081C9 !important;
          padding: 0px 0px 8px 0px !important;

      }
      .active--menuAzul{
        border-bottom: 4px solid #0081C9  !important;
        padding: 0px 0px 8px 0px !important;
      }
      .active--menuAmarillo{
        border-bottom: 4px solid #FFB718 !important;
        padding: 0px 0px 8px 0px !important;
      }
      .active--menuVerde{
        border-bottom: 4px solid #00AE41  !important;
        padding: 0px 0px 8px 0px !important;
      }
      .active--menuRojo{
        border-bottom: 4px solid #FF4337 !important;
        padding: 0px 0px 8px 0px !important;
      }
      .active--menuGris{
        border-bottom: 4px solid #646469   !important;
        padding: 0px 0px 8px 0px !important;
      }







      p{
        font-size: 1em;
        line-height: 1em;
        text-transform: uppercase;
        padding: 4px 0px 0px 0px;
        margin: 0px auto;
        width: 50%;
        font-family: 'GothamMedium';
        span{
          font-size: 1.1252em;
          line-height: 1.1252em;
          text-transform: uppercase;
            padding: 0px 0px 0px 0px;
            margin: 0px;
            font-weight: 600;
            font-family: 'GothamBold';
        }

      }
      h3{
        font-size: 1.1252em;
        line-height: 1.1252em;
        text-transform: uppercase;
          padding: 0px 0px 0px 0px;
          margin: 0px;
      }


    }


    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px !important;
        // border-bottom: 2px solid #ccc !important;
    }
    ul li:nth-child(1) button{
     border-top: 3px solid #0081C9;
    }
    ul li:nth-child(2) button{
     border-top: 3px solid #FFB718;
    }
    ul li:nth-child(3) button{
     border-top: 3px solid #00AE41;
    }
    ul li:nth-child(4) button{
     border-top: 3px solid #FF4337;
    }
    ul li:nth-child(5) button{
     border-top: 3px solid #646469 ;
    }

    ul li:nth-child(1) .active{
     border-bottom: 4px solid #0081C9 !important;
    }
    ul li:nth-child(2) .active{
      border-bottom: 4px solid #FFB718 !important;
    }
    ul li:nth-child(3) .active{
      border-bottom: 4px solid #00AE41 !important;
    }
    ul li:nth-child(4) .active{
     border-bottom: 4px solid #FF4337 !important;
    }
    ul li:nth-child(5) .active{
      border-bottom: 4px solid #646469 !important;
    }

    ul li:nth-child(1) .glyphicon.glyphicon-one-fine-dot{
     color:  #0081C9;
    }
    ul li:nth-child(2) .glyphicon.glyphicon-one-fine-dot{
     color:  #FFB718;
    }
    ul li:nth-child(3) .glyphicon.glyphicon-one-fine-dot{
     color: #00AE41;
    }
    ul li:nth-child(4) .glyphicon.glyphicon-one-fine-dot{
     color: #FF4337;
    }
    ul li:nth-child(5) .glyphicon.glyphicon-one-fine-dot{
     color: #646469;
    }
    .glyphicon.glyphicon-one-fine-dot {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 78%;
        z-index: 1000;
    }
    .glyphicon.glyphicon-one-fine-dot:before {
        content:"\25cf";
        font-size: 1.2em;
        line-height: 1.2em;
    }

    li {
      display: inline;

    }

  }

}
// estilos internos menu independiente
/* modificado 25-02 */
.nav--menuInternoUno {
  margin: 20px auto;
  padding:  0px 0px 0px 0px;
  height: auto;
  width: 1140px;
  .menuInterno--contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 65px;
    background:  #0081C9 !important;
    ks-swiper-slide{
      width: 228px !important;

    }
    button{
      width: 228px ;
      height: 65px;
      border: none;
      background: transparent;
      color: rgba(255, 255, 255, .7);
      padding: 0px 0px 10px 0px !important;
      margin: 0px 0px 0px 0px !important;
      float: left;
      font-family: 'GothamMedium';
      font-size: 12px;
      &:focus{
        outline: none;
      }
      &:hover{
        outline: none;
        color: #fff !important;
        border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
        padding: 0px 0px 6px 0px !important;
        p{
            color: #fff !important;
            font-family: 'GothamMedium';
        }
      }
      .glyphicon.glyphicon-one-fine-dot {
          position: absolute;
          margin: 0;
          padding: 0;
          top: 30%;
          right: -5px;
          z-index: 1000;
          color: rgba(255, 255, 255, .7);
      }
      .glyphicon.glyphicon-one-fine-dot:before {
          content:"\25cf";
          font-size: 0.8em;
          line-height: 0.8em;
      }

    }
		/* fin-modificado 25-02 */
    .activo{
      outline: none;
      color: #fff !important;
      border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
      padding: 0px 0px 6px 0px !important;
      button{
          border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
          padding: 0px 0px 6px 0px !important;

      }
      p{
          color: #fff !important;
      }
    }
    .activo-select{
        width: 195px ;
        position: absolute;
        height: 5px;
        background: rgba(255, 255, 255, .5) !important;
        border: none;
    }
    p{
      font-size: 1.1252em;
      line-height: 1em;
      padding: 5px 0px 0px 0px;
      margin: 0px auto;
      width: 50%;
      text-transform: none;
    }
  }

  .swiper-button-next {
      top: 28% !important;
      height: 18px !important;
      opacity: 0.8 !important;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
      height: 65px !important;
      right: 0;
      background-size: 20px 14px;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(255, 255, 255, .4) !important;
  }


  .swiper-button-prev {
    top: 28% !important;
    height: 18px !important;
    opacity: 0.8 !important;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
    height: 65px !important;
    left: 0;
    background-size: 20px 14px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, .4) !important;
  }

}
/* modificado 25-02 */
.nav--menuInternoDos {
  margin: 20px auto;
  padding:  0px 0px 0px 0px;
  height: auto;
  width: 1140px;
  .menuInterno--contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 65px;
    background:  #FFB718 !important;
    ks-swiper-slide{
      width: 228px !important;

    }
    button{
      width: 228px ;
      height: 65px;
      border: none;
      background: transparent;
      color: rgba(255, 255, 255, .7);
      padding: 0px 0px 10px 0px !important;
      margin: 0px 0px 0px 0px !important;
      float: left;
      font-family: 'GothamMedium';
      font-size: 12px;
      &:focus{
        outline: none;
      }
      &:hover{
        outline: none;
        color: #fff !important;
        border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
        padding: 0px 0px 6px 0px !important;
        p{
            color: #fff !important;
            font-family: 'GothamMedium';
        }
      }
      .glyphicon.glyphicon-one-fine-dot {
          position: absolute;
          margin: 0;
          padding: 0;
          top: 30%;
          right: -5px;
          z-index: 1000;
          color: rgba(255, 255, 255, .7);
      }
      .glyphicon.glyphicon-one-fine-dot:before {
          content:"\25cf";
          font-size: 0.8em;
          line-height: 0.8em;
      }

    }
		/* fin-modificado 25-02 */
    .activo{
      outline: none;
      color: #fff !important;
      border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
      padding: 0px 0px 6px 0px !important;
      button{
          border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
          padding: 0px 0px 6px 0px !important;

      }
      p{
          color: #fff !important;
      }
    }
    .activo-select{
        width: 195px ;
        position: absolute;
        height: 5px;
        background: rgba(255, 255, 255, .5) !important;
        border: none;
    }
    p{
      font-size: 1.1252em;
      line-height: 1em;
      padding: 5px 0px 0px 0px;
      margin: 0px auto;
      width: 50%;
      text-transform: none;
    }
  }

}/* modificado 25-02 */
.nav--menuInternoTres {
  margin: 20px auto;
  padding:  0px 0px 0px 0px;
  height: auto;
  width: 1140px;
  .menuInterno--contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 65px;
    background:  #00AE41 !important;
    ks-swiper-slide{
      width: 228px !important;

    }
    button{
      width: 228px ;
      height: 65px;
      border: none;
      background: transparent;
      color: rgba(255, 255, 255, .7);
      padding: 0px 0px 10px 0px !important;
      margin: 0px 0px 0px 0px !important;
      float: left;
      font-family: 'GothamMedium';
      font-size: 12px;
      &:focus{
        outline: none;
      }
      &:hover{
        outline: none;
        color: #fff !important;
        border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
        padding: 0px 0px 6px 0px !important;
        p{
            color: #fff !important;
            font-family: 'GothamMedium';
        }
      }
      .glyphicon.glyphicon-one-fine-dot {
          position: absolute;
          margin: 0;
          padding: 0;
          top: 30%;
          right: -5px;
          z-index: 1000;
          color: rgba(255, 255, 255, .7);
      }
      .glyphicon.glyphicon-one-fine-dot:before {
          content:"\25cf";
          font-size: 0.8em;
          line-height: 0.8em;
      }

    }
		/* fin-modificado 25-02 */
    .activo{
      outline: none;
      color: #fff !important;
      border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
      padding: 0px 0px 6px 0px !important;
      button{
          border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
          padding: 0px 0px 6px 0px !important;

      }
      p{
          color: #fff !important;
          font-family: 'GothamMedium';

      }
    }
    .activo-select{
        width: 195px ;
        position: absolute;
        height: 5px;
        background: rgba(255, 255, 255, .5) !important;
        border: none;
    }
    p{
      font-size: 1.1252em;
      line-height: 1em;
      padding: 5px 0px 0px 0px;
      margin: 0px auto;
      width: 50%;
      text-transform: none;
    }
  }

}
/* modificado 25-02 */
.nav--menuInternoCuatro {
	margin: 20px auto;
  padding:  0px 0px 0px 0px;
  height: auto;
  width: 1140px;
/* fin-modificado 25-02 */
  .menuInterno--contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 65px;
    background:  #FF4337 !important;
    ks-swiper-slide{
      width: 195px !important;

    }
    button{
      width: 195px ;
      height: 65px;
      border: none;
      background: transparent;
      color: rgba(255, 255, 255, .7);
      padding: 0px 0px 10px 0px !important;
      margin: 0px 0px 0px 0px !important;
      float: left;
      font-family: 'GothamMedium';
      font-size: 12px;
      &:focus{
        outline: none;
      }
      &:hover{
        outline: none;
        color: #fff !important;
        border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
        padding: 0px 0px 6px 0px !important;
        font-family: 'GothamMedium';
        p{
            color: #fff !important;
        }
      }
      .glyphicon.glyphicon-one-fine-dot {
          position: absolute;
          margin: 0;
          padding: 0;
          top: 30%;
          right: -5px;
          z-index: 1000;
          color: rgba(255, 255, 255, .7);
      }
      .glyphicon.glyphicon-one-fine-dot:before {
          content:"\25cf";
          font-size: 0.8em;
          line-height: 0.8em;
      }

    }
    .activo{
      outline: none;
      color: #fff !important;
      border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
      padding: 0px 0px 6px 0px !important;
      button{
          border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
          padding: 0px 0px 6px 0px !important;

      }
      p{
          color: #fff !important;
      }
    }
    .activo-select{
        width: 195px ;
        position: absolute;
        height: 5px;
        background: rgba(255, 255, 255, .5) !important;
        border: none;
    }
    p{
      font-size: 1.1252em;
      line-height: 1em;
      padding: 5px 0px 0px 0px;
      margin: 0px auto;
      width: 50%;
      text-transform: none;
    }
  }

}
/* modificado 25-02 */
.nav--menuInternoCinco {
  margin: 20px auto;
  padding:  0px 0px 0px 0px;
  height: auto;
  width: 1140px;
/* fin-modificado 25-02 */
  .menuInterno--contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 65px;
    background:  #646469 !important;
    ks-swiper-slide{
      width: 195px !important;

    }
    button{
      width: 195px ;
      height: 65px;
      border: none;
      background: transparent;
      color: rgba(255, 255, 255, .7);
      padding: 0px 0px 10px 0px !important;
      margin: 0px 0px 0px 0px !important;
      float: left;
      font-family: 'GothamMedium';
      font-size: 12px;
      &:focus{
        outline: none;
      }
      &:hover{
        outline: none;
        color: #fff !important;
        border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
        padding: 0px 0px 6px 0px !important;
        p{
            color: #fff !important;
        }
      }
      .glyphicon.glyphicon-one-fine-dot {
          position: absolute;
          margin: 0;
          padding: 0;
          top: 30%;
          right: -5px;
          z-index: 1000;
          color: rgba(255, 255, 255, .7);
      }
      .glyphicon.glyphicon-one-fine-dot:before {
          content:"\25cf";
          font-size: 0.8em;
          line-height: 0.8em;
      }

    }
    .activo{
      outline: none;
      color: #fff !important;
      border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
      padding: 0px 0px 6px 0px !important;
      button{
          border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
          padding: 0px 0px 6px 0px !important;

      }
      p{
          color: #fff !important;
      }
    }
    .activo-select{
        width: 195px ;
        position: absolute;
        height: 5px;
        background: rgba(255, 255, 255, .5) !important;
        border: none;
    }
    p{
      font-size: 1.1252em;
      line-height: 1em;
      padding: 5px 0px 0px 0px;
      margin: 0px auto;
      width: 50%;
      text-transform: none;
    }
  }

}

// estilos internos menu
.nav--menuInterno {
  margin: 80px 0px 0px 0px;
  padding:  0px 0px 0px 0px;
  position: absolute !important;
  height: auto;
  width: 980px;

  &:nth-child(2) .menuInterno--contenedor{
    background:  #0081C9 !important;
  }
  &:nth-child(3) .menuInterno--contenedor{
    background:  #FFB718 !important;
  }
  &:nth-child(4) .menuInterno--contenedor{
    background:  #00AE41 !important;
  }
  &:nth-child(5) .menuInterno--contenedor{
    background:  #FF4337 !important;
  }
  &:nth-child(6) .menuInterno--contenedor{
    background:  #646469 !important;
  }
  .menuInterno--contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 65px;
    background:  #ccc;

    .conenedor--nav{
      margin: 0;
      padding: 0px 0px;



      button{
        width: 195px ;
        height: 65px;
        border: none;
        background: transparent;
        color: #fff;
        border-bottom: none !important;
        padding: 0px 0px 10px 0px !important;
        margin: 0px 0px 0px 0px !important;
        float: left;
        font-family: 'GothamMedium';

        &:focus{
          outline: none;

        }
        &:hover{
          outline: none;
          color: #fff !important;
          border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
          padding: 0px 0px 6px 0px !important;
          p{
              color: #fff !important;
          }
        }

      }


      p{
        font-size: 1.1252em;
        line-height: 1em;
        padding: 5px 0px 0px 0px;
        margin: 0px;
        text-transform: none;

      }
    }





  }

}

/* css colapsable*/
.contenedor--colapsable {
  margin-top: 5px;
  .titulo--menu{
    color: #ccc;
    padding: 5px 0px 0px 0px;
    text-transform: uppercase;
    height: 13px;
    font-size: 13px !important;
    line-height: 13px;
		font-family: 'GothamMedium';
  }
  :nth-child(1) .titulo--menu{
    color:  #0081C9 !important;
  }
  :nth-child(2) .titulo--menu{
    color:  #FFB718 !important;
  }
  :nth-child(3) .titulo--menu{
    color:  #00AE41 !important;
  }
  :nth-child(4) .titulo--menu{
    color:  #FF4337 !important;
  }
  :nth-child(5) .titulo--menu{
    color:  #646469 !important;
  }
}

.expandcollapse-item {
  overflow: hidden;
  border-top: 1px solid #ddd;
	&:focus{
		outline: none;

	}
	&:active{
		outline: none;

	}
  button{
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, .5) !important;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #fff;
    text-align: left;
		padding: 0px;


    background: transparent;
		font-family: 'GothamMedium';
    &:focus{
      outline: none;

    }
    &:hover{
      outline: none;
      opacity: 0.8;
    }
    p{
			 padding: 10px 0px 0px 15px;
			    font-size: 12px;
					line-height: 12px;
    }

  }

}

.expandcollapse-heading-collapsed {
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  z-index: 100000000;
  background-color: white;
  border-bottom: 1px solid #ddd;
  &:focus {
    outline: none;
  }

}
.expandcollapse-heading-expanded {
  cursor: pointer;
  z-index: 100000000;
  padding: 10px 15px;
  position: relative;
  background-color: white;
  border-bottom: 1px solid #eee;
  &:focus {
    outline: none;
  }


}


.expandcollapse-item:first-of-type {
  border-top: 0px;
}




.expandcollapse-heading-collapsed > span, .expandcollapse-heading-expanded > span {
  position: absolute;
  top: 25px;
  right: 15px;
  font-size: 20px;
  line-height: 0px;
}



.expand-collapse-content01 {
  padding: 5px 0px 25px 0px;
  background: #0081C9 !important;
}
.expand-collapse-content02 {
  padding: 5px 0px 25px 0px;
  background: #FFB718 !important;
}
.expand-collapse-content03 {
  padding: 5px 0px 25px 0px;
  background: #00AE41 !important;
}
.expand-collapse-content04 {
  padding: 5px 0px 25px 0px;
  background: #FF4337 !important;
}
.expand-collapse-content05 {
  padding: 5px 0px 25px 0px;
  background: #646469 !important;
}

/*
animation:*/
.slideDown {
  &.ng-hide {
    height: 0;
    transition: height 0.35s ease;
    overflow: hidden;
    position: relative;
  }
  height: 235px;
  transition: height 0.35s ease;
  overflow: hidden;
  position: relative;
  &.ng-hide-remove {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
  }
  &.ng-hide-add {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
    animation-name: hide;
    -webkit-animation-name: hide;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
  }
  &.ng-hide-remove {
    animation-name: show;
    -webkit-animation-name: show;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
  }
}

.slideDown02 {
  &.ng-hide {
    height: 0;
    transition: height 0.35s ease;
    overflow: hidden;
    position: relative;
  }
  height: 170px;
  transition: height 0.35s ease;
  overflow: hidden;
  position: relative;
  &.ng-hide-remove {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
  }
  &.ng-hide-add {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
    animation-name: hide;
    -webkit-animation-name: hide;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
  }
  &.ng-hide-remove {
    animation-name: show;
    -webkit-animation-name: show;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
  }
}

.slideDown03 {
  &.ng-hide {
    height: 0;
    transition: height 0.35s ease;
    overflow: hidden;
    position: relative;
  }
  height: 105px;
  transition: height 0.35s ease;
  overflow: hidden;
  position: relative;
  &.ng-hide-remove {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
  }
  &.ng-hide-add {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
    animation-name: hide;
    -webkit-animation-name: hide;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
  }
  &.ng-hide-remove {
    animation-name: show;
    -webkit-animation-name: show;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
  }
}


/* estilos menu lateral */
.menuPublicoMobil--bloque {
  width: auto;
  height: auto;
  padding: 0;

  .menuPublicoMobil--publico {
    line-height: 55px;
    height: auto;
    overflow: hidden;
    border-top: solid 1px rgba(0, 0, 0, 0.12);
    border-bottom: solid 1px rgba(0, 0, 0, 0.12);
    padding: 0 15px;
    i {
      float: right;
      line-height: 55px;
    }

    .lupa {
      margin-top: -10px;
    }

    &:focus {
      outline: none;
    }
  }

  .navegacion-cerrada {
    i.up {
      display: none;
    }
  }

  .navegacion-expandida {
    color: #5BABBF;

    i.down {
      display: none;
    }
  }
}

.menu--responsive{
  // display: none;
  width: 100%;
  padding: 0;
  margin: 0;
  span {
    padding: 10px 0px 0px 0px;
  }
  .button--desplegable{
    width: 100%;
    height: 30px;
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 0px 0px !important;
    background: transparent;
    border: none;
    text-align: left;
		text-transform: uppercase;
		font-family: 'GothamMedium';
    &:focus{
      outline: none;

    }
    .responsive--menu {
      font-size: 12px;
      line-height: 12px;
      text-transform: uppercase;
      padding: 0px 0px 0px 20px;
    }
    span{
      padding: 7px 10px 0px 0px;

    }

  }
}

// estilos menu cascada

.expandcollapse-item-menu {
  overflow: hidden;
  border-top: 1px solid #BFBFBF;
}

.expandcollapse-heading-collapsed-menu {
  cursor: pointer;
  padding: 5px 20px;
  position: relative;
  z-index: 100000000;
  background-color: #DFDDDE;
	color: #646469;
}

.expandcollapse-item-menu:first-of-type {
  border-top: 0px;
}

.expandcollapse-heading-collapsed-menu p {
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
}

.expandcollapse-heading-expanded-menu {
  cursor: pointer;
  z-index: 100000000;
  padding: 5px 20px;
  position: relative;
  color: #646469;
  background-color: #ddd;
  p {
    font-size: 16px;
    margin: 0px;
  }
}

.contenedor--menuMovil{
	background: none ;
	width: 100%;
	padding: 0;
	margin: 0;
	display: none;
}
.helperDisplay{
	display: block !important;
}

.expandcollapse-heading-collapsed-menu > span, .expandcollapse-heading-expanded-menu > span {
  position: absolute;
  top: 25px;
  right: 15px;
  font-size: 20px;
  line-height: 0px;
}

.expand-collapse-content-menu {
  padding: 0px;
}

/*
animation:*/

.slideDown-menu {
  &.ng-hide {
    height: 0;
    transition: height 0.35s ease;
    overflow: hidden;
    position: relative;
  }
  transition: height 0.35s ease;
  overflow: hidden;
  position: absolute;
	z-index: 500;
	width: 100%;
	background: #fff;
  &.ng-hide-remove {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
  }
  &.ng-hide-add {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
    animation-name: hide;
    -webkit-animation-name: hide;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
  }
  &.ng-hide-remove {
    animation-name: show;
    -webkit-animation-name: show;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
  }
}
// helpers menu
/* modificado 25-02 */
.h--boton{
  width: 380px !important;
  button{
    width: 380px !important;
  }

}
/* fin-modificado 25-02 */
/* modificado 25-02 */
.h--boton--6{
  width: 228px !important;
  button{
    width: 228px !important;
  }

}
/* fin-modificado 25-02 */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .contenedor--menuMovil{
    display: block !important;
  }
  .nav--vivo{
    display: none;
  }
  .nav--menuInternoUno{
    display: none;
  }
	.nav--menuInternoDos{
		display: none;
	}
	.nav--menuInternoTres{
		display: none;
	}
	.nav--menuInternoCuatro{
		display: none;
	}
	.nav--menuInternoCinco{
		display: none;
	}
}
/* modificado-nuevo 25-02 */
@media screen and (min-width: 768px) and (max-width: 979px) {
	.nav--menuInternoUno {
	  width: 720px !important;
		ks-swiper-slide{
			width: 144px !important;
		}
		button{
			width: 144px !important ;
		}
	}
	.h--boton--6{
	  width: 144px !important;
	  button{
	    width: 144px !important;
	  }

	}
	.nav--menuInternoDos {
	  width: 720px !important;
		ks-swiper-slide{
			width: 144px !important;
		}
		button{
			width: 144px !important ;
		}
	}
	.nav--menuInternoTres {
	  width: 720px !important;
		ks-swiper-slide{
			width: 144px !important;
		}
		button{
			width: 144px !important ;
		}
	}

	.nav--menuInternoCuatro {
	  width: 720px !important;
	}
	.nav--menuInternoCinco {
	  width: 720px !important;
	}
	.h--boton{
	  width: 240px !important;
	  button{
	    width: 240px !important;
	  }

	}
}
/* fin-modificado-nuevo 25-02 */
/* modificado-nuevo 25-02 */
@media screen and (min-width: 980px) and (max-width: 1199px) {
	.nav--menuInternoUno {
	  width: 940px !important;
		ks-swiper-slide{
			width: 188px !important;
		}
		button{
			width: 188px !important ;
		}
	}
	.h--boton--6{
	  width: 188px !important;
	  button{
	    width: 188px !important;
	  }

	}
	.nav--menuInternoDos {
	  width: 940px !important;
		ks-swiper-slide{
			width: 188px !important;
		}
		button{
			width: 188px !important ;
		}
	}

	.nav--menuInternoTres {
	  width: 940px !important;
		ks-swiper-slide{
			width: 188px !important;
		}
		button{
			width: 188px !important ;
		}
	}
	.nav--menuInternoCuatro {
	  width: 940px !important;
	}
	.nav--menuInternoCinco {
	  width: 940px !important;
	}
	.h--boton{
	  width: 320px !important;
	  button{
	    width: 320px !important;
	  }
	}
}
/* fin-modificado-nuevo 25-02 */
