/* nuevo header */

.nav--vivo{
  background-color: #fff;
  position: relative;
  transition: all 0.3s ease;
  z-index: 10;
  .vivo--menu {
    width: 980px;
    padding: 0;
    margin: 0 auto;
    background: #eee;


    .menu--privado{
      width: 20%;
      padding: 0px;
      float: left;
      button{
        width: 100%;
        height: 67px;
        padding: 0px 0px 10px 0px !important;
        margin: 0px 0px 0px 0px !important;
        background: #fff;
        border-bottom: 2px solid #ccc !important;
        border-left: none;
        border-right: none;
        border-top: none;
        color: #666;
        &:focus{
          outline: none;

        }

      }
      .active{
        border-bottom: 4px solid #0081C9 !important;
          padding: 0px 0px 8px 0px !important;

      }

      p{
        font-size: 1em;
        line-height: 1em;
        text-transform: uppercase;
        padding: 4px 0px 0px 0px;
        margin: 0px;

      }
      h3{
        font-size: 1.1252em;
        line-height: 1.1252em;
        text-transform: uppercase;
          padding: 0px 0px 0px 0px;
          margin: 0px;
      }


    }


    ul {
      list-style-type: none;
      padding: 0px;
      margin: 0px !important;
        // border-bottom: 2px solid #ccc !important;
    }
    ul li:nth-child(1) button{
     border-top: 3px solid #0081C9;
    }
    ul li:nth-child(2) button{
     border-top: 3px solid #FFB718;
    }
    ul li:nth-child(3) button{
     border-top: 3px solid #00AE41;
    }
    ul li:nth-child(4) button{
     border-top: 3px solid #FF4337;
    }
    ul li:nth-child(5) button{
     border-top: 3px solid
    }

    ul li:nth-child(1) .active{
     border-bottom: 4px solid #0081C9 !important;
    }
    ul li:nth-child(2) .active{
      border-bottom: 4px solid #FFB718 !important;
    }
    ul li:nth-child(3) .active{
      border-bottom: 4px solid #00AE41 !important;
    }
    ul li:nth-child(4) .active{
     border-bottom: 4px solid #FF4337 !important;
    }
    ul li:nth-child(5) .active{
      border-bottom: 4px solid #646469 !important;
    }

    ul li:nth-child(1) .glyphicon.glyphicon-one-fine-dot{
     color:  #0081C9;
    }
    ul li:nth-child(2) .glyphicon.glyphicon-one-fine-dot{
     color:  #FFB718;
    }
    ul li:nth-child(3) .glyphicon.glyphicon-one-fine-dot{
     color: #00AE41;
    }
    ul li:nth-child(4) .glyphicon.glyphicon-one-fine-dot{
     color: #FF4337;
    }
    ul li:nth-child(5) .glyphicon.glyphicon-one-fine-dot{
     color: #646469;
    }
    .glyphicon.glyphicon-one-fine-dot {
        position: absolute;
        margin: 0;
        padding: 0;
        top: 78%;
        z-index: 1000;
    }
    .glyphicon.glyphicon-one-fine-dot:before {
        content:"\25cf";
        font-size: 1.2em;
        line-height: 1.2em;
    }

    li {
      display: inline;

    }

  }

}


// estilos internos menu

.nav--menuInterno {
  margin: 80px 0px 0px 0px;
  padding:  0px 0px 0px 0px;
  position: absolute !important;
  height: auto;
  width: 980px;

  &:nth-child(2) .menuInterno--contenedor{
    background:  #0081C9 !important;
  }
  &:nth-child(3) .menuInterno--contenedor{
    background:  #FFB718 !important;
  }
  &:nth-child(4) .menuInterno--contenedor{
    background:  #00AE41 !important;
  }
  &:nth-child(5) .menuInterno--contenedor{
    background:  #FF4337 !important;
  }
  &:nth-child(6) .menuInterno--contenedor{
    background:  #646469 !important;
  }
  .menuInterno--contenedor{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 65px;
    background:  #ccc;

    .conenedor--nav{
      margin: 0;
      padding: 0px 0px;

      .h--boton{
        width: 325px !important;
        button{
          width: 325px !important;
        }

      }


      button{
        width: 195px ;
        height: 65px;
        border: none;
        background: transparent;
        color: #fff;
        border-bottom: none !important;
        padding: 0px 0px 10px 0px !important;
        margin: 0px 0px 0px 0px !important;
        float: left;
        &:focus{
          outline: none;

        }
        &:hover{
          outline: none;
          color: #fff !important;
          border-bottom: 4px solid rgba(255, 255, 255, .5) !important;
          padding: 0px 0px 6px 0px !important;
          p{
              color: #fff !important;
          }
        }

      }


      p{
        font-size: 1.1252em;
        line-height: 1em;
        padding: 5px 0px 0px 0px;
        margin: 0px;
        text-transform: none;

      }
    }





  }

}

/* css colapsable*/
.contenedor--colapsable {
  margin-top: 40px;
  .titulo--menu{
    color: red;
    padding: 4px 0px 0px 0px;
  }
}

.expandcollapse-item {
  overflow: hidden;
  border-top: 1px solid #eee;

}

.expandcollapse-heading-collapsed {
  cursor: pointer;
  padding: 10px 15px;
  position: relative;
  z-index: 100000000;
  background-color: white;
  border-bottom: 1px solid #eee;
  &:focus {
    outline: none;
  }

}
.expandcollapse-heading-expanded {
  cursor: pointer;
  z-index: 100000000;
  padding: 10px 15px;
  position: relative;
  background-color: white;
  border-bottom: 1px solid #eee;
  &:focus {
    outline: none;
  }

}


.expandcollapse-item:first-of-type {
  border-top: 0px;
}




.expandcollapse-heading-collapsed > span, .expandcollapse-heading-expanded > span {
  position: absolute;
  top: 25px;
  right: 15px;
  font-size: 20px;
  line-height: 0px;
}

.expand-collapse-content {
  padding: 20px;
}

/*
animation:*/

.slideDown {
  &.ng-hide {
    height: 0;
    transition: height 0.35s ease;
    overflow: hidden;
    position: relative;
  }
  height: 141px;
  transition: height 0.35s ease;
  overflow: hidden;
  position: relative;
  &.ng-hide-remove {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
  }
  &.ng-hide-add {
    /* remember, the .hg-hide class is added to element
    when the active class is added causing it to appear
    as hidden. Therefore set the styling to display=block
    so that the hide animation is visible */
    display: block !important;
    animation-name: hide;
    -webkit-animation-name: hide;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
  }
  &.ng-hide-remove {
    animation-name: show;
    -webkit-animation-name: show;
    animation-duration: .5s;
    -webkit-animation-duration: .5s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
  }
}
